body {
  font-family: "Work Sans", sans-serif;
  background: url("../assets/images/background-pattern-desktop.svg") no-repeat
      top center,
    hsl(275, 100%, 97%);
  background-size: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faq-container {
  background: hsl(0, 100%, 100%);
  width: 500px;
  margin: -200px auto 0 auto;
  border-radius: 10px;
  padding: 20px 30px;
}

.faq-container h1 {
  font-size: 40px;
  color: hsl(292, 42%, 14%);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.faq-container h1::before {
  content: "";
  background: url("../assets/images/icon-star.svg");
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.faq-questions dt {
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-questions dd {
  font-weight: 400;
  color: hsl(292, 16%, 49%);
  display: none;
}

.faq-questions dt:not(:last-child) {
  border-bottom: 1px solid hsl(275, 100%, 97%);
  padding-bottom: 10px;
}

.faq-questions dt:hover {
  color: hsl(293, 93%, 34%);
}

.faq-questions dd.ativo {
  display: block;
}

.faq-questions dt::after {
  content: "";
  background: url("../assets/images/icon-plus.svg");
  width: 30px;
  height: 30px;
  display: inline-block;
  flex-shrink: 0;
  background-size: contain;
  margin-left: 10px;
}

.faq-questions dt.ativo::after {
  background: url("../assets/images/icon-minus.svg");
}
